:root {
    --primary-color: blueviolet;
    --secondary-color: lightyellow;
}

header, main, footer, form {
    margin: 0 auto;
    font-size: 1.2rem;
    min-width: 400px;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    padding: 1rem;
    border: solid 1px black;
    background-color: var(--secondary-color);
}

form input[type="checkbox"],
form input[type="date"],
form select,
form textarea,
form input[type="text"],
form input[type="submit"],
form p {
    display: block;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

form input[type="date"],
form select,
form textarea,
form input[type="text"],
form input[type="date"] {
    max-width: 350px;
    width: 96%;
    padding: .75rem;
    
}

form input[type="submit"] {
    display: block;
    width: 96%;
    padding: 1rem;
    margin-top: 1rem;
}

.rating-box {
    display: flex;
    justify-content: space-evenly;
}

.rating-option {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form input[type="radio"] {
    transform: scale(1.5);
    margin-bottom: 1rem;
}

form input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.feat-box {
    display: flex;
    flex-direction: column;
}

.feat-item {
    display: flex;
    flex-direction: row;
}

.optional-tag {
    font-style: italic;
    color: blue;
}

form label {
    display: block;
}

.rating-item {
    text-align: center;
}

@media screen and (min-width: 500px) {
    header, main, footer, form {
        max-width: 800px;
    }

    form select,
    form input[type="radio"],
    form input[type="date"],
    form textarea,
    form input[type="text"] {
        width: 96%;
        max-width: 400px;
    }
}