/* :root {
    --primary-color: blue;
    --contrast-color: white;
}

main,
header,
footer {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Cause", cursive;
}

img {
    width: 500px;
    height: auto;
} */